.custom-card {
    
    .content{
        margin-left: 41px;
    }
    .avatar{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        flex-shrink: 0;
        object-fit: cover;
        margin-left: 20%;
    }
}

.custom-list{
    height: 60px;
    .item{margin-block-end: 4%;}

    .avatar{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        flex-shrink: 0;
        object-fit: cover;
        // margin-left: 20%;
        margin-right: 2%;
    }
}